### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Java ###
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

### Backup files ###
*-backup.html

### Sample docs ###
sample-docs/

### Old source files (pre-refactor) ###
src/Main.java
src/frontend.html
src/frontend-enhanced.html
src/frontend-modern.html
